.education-section {
  width: 100%;
  padding: 20px;
}

.education {
  background-position: center right;
  background-size: cover;
  padding-bottom: 60px;
  margin: 0 auto;
}

.education p {
  width: 100%;
}

.content-wrap section {
  padding: 20px 30px;
  background: #f6f6f60d;
  border-radius: 25px;
  margin: 10px 0px;
  -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
}

.content-wrap section h3 {
  color: var(--text-secondary);
  font-weight: bolder;
  font-size: 30px;
}

.content-wrap section p {
  color: var(--text-secondary);
}