.experience {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 150px;
  
}

.box {
  display: flex;
  width: 100%;
  height: 310px;
  justify-content: space-around;
  border: 0;
  color: var(--text-secondary);
  margin-top: 110px;
  justify-content: center;
  align-items: center;
}
.joint-line{
  color: var(--text-secondary);
  background-color: var(--text-primary);
  width: 7rem;
  height: 2px;
}
.experience1, .experience2,.experience3{
  background: #f6f6f60d;
  border-radius: 25px;
  -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
  padding: 20px;
}
.joining-symbol{
  position: relative;
  left: -40px;
  top: 7px;
  font-size: 21px;
  margin: -10px;

}
.experience1 h1,
.experience2 h1,
.experience3 h1{
  font-size: 25px;
  font-weight: bold;  
}
.fa-tasks{
  margin: 2px;
}
.headwith-task{
  display: flex;
  margin: 2px;
}