.section-social {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}
.footer .fab {
  color: white;
  
}
.footer .fab:hover {
  color: white;
  
}
.btn-outline-light, .btn-floating{
  color: white;
}
.footers {
  width: 100%;
  background-color: var(--text-primary);
}
.copyright{
   display: flex;
    justify-content: center;
    align-content: center;
    color: var(--text-secondary);
    background-color: var(--text-secondary);
    padding: 20px;
    font-size: 23px;
}
.experience-box{
  animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}