.toggle-switch button {
  border: 2px solid var(--text-secondary);

  color: var(--text-secondary);
}

.toggle-switch button:hover {
  border: 2px solid var(--text-secondary);
  color: var(--text-secondary);
}

.toggle-switch {
  position: absolute;
  right: 200px;
  margin: -55px 0px;
}

.progressbar-container {
  background: antiquewhite;
}
/* .CircularProgressbar .CircularProgressbar-trail{

} */