.form-control {
  background: transparent;
}
.form-control:focus {
  background: transparent;
}
.send-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-button button {
  background: #c84b31;
  color: white;
  font-size: 20px;
  border: 0;
  border-radius: 0;
}
