.education-section {
  width: 100%;
  padding: 20px;
  background: #131212;
}
.education {
  background-position: center right;
  background-size: cover;
  padding-bottom: 60px;
  margin: 0 auto;
}
.education p {
  width: 60%;
}
.animate-charcter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 160px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.content-wrap section {
  padding: 20px 30px;
  background: #f6f6f60d;
  border-radius: 25px;
  margin: 10px 0px;
}
.content-wrap section h3 {
  color: #c84b31;
}

.content-wrap section p {
  color: white;
}
.item-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
