.App {
  height: 100vh;
  background-color: #131212;
  background-size: cover;
  padding: 10px;
}
.navmenu {
  width: 100%;
}
.navmenu .line {
  width: 25px;
  height: 3px;
  color: white;
  background-color: white;
  border: 0;
  border-radius: 2px;
  margin-bottom: 5px;
}
