.App {
  height: 100vh;
  /* background-color: #131212; */
  background-size: cover;
  padding: 10px;
}
.navmenu {
  width: 100%;
}
.navmenu .line {
  width: 25px;
  height: 3px;
  color: white;
  background-color: white;
  border: 0;
  border-radius: 2px;
  margin-bottom: 5px;
}

:root {
  --background: white;
  --text-primary: #1E56A0;
  --text-secondary: #163172;
  --accent: #D6E4F0;
}
[data-theme='dark'] {
  --background: #000000;
  --text-primary:#CF0A0A;
  --text-secondary: white;
  --accent: #EEEEEE;
}
.App {
  color: var(--text-primary);
  background-color: var(--background);
  height: 100%;
}
.theme-button {
    color: var(--text-primary);
    background-color: var(--background);
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    border: 2px solid;
}